@import url("fonts.css");

h1 {
  font-family: 'gotham-rounded';
  font-weight: bold;
  width: 241px;
  height: 83px;
  font-size: 36px;
  line-height: 0.9;
  color: #000000;
}

h2 {
  font-family: 'gotham-rounded';
  font-weight: bold;
  width: 241px;
  height: 83px;
  font-size: 24px;
  line-height: 0.9;
  color: #000000;
}

h3 {
  font-family: 'lato';
  font-weight: bold;
  width: 90px;
  height: 42px;
  font-size: 20px;
  line-height: 2.1;
  letter-spacing: 2.5px;
  color: #000000;
}

p {
  font-family: 'lato';
  text-align: center;
  width: 221px;
  height: 60px;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.9px;
  color: #000000;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
