@import url("fonts.css");

html, body {
  height: 100%;
}

h1 {
  font-family: 'gotham-rounded';
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 0.9;
  color: #000000;
}

h1 span {
  color: white;
  padding: 10px;
  margin: -2em;
  z-index: 1;
}

h2 {
  font-family: 'gotham-rounded';
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  line-height: 0.9;
  color: #000000;
  position: absolute;

}



h3 {
  font-family: 'lato';
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  line-height: 2.1;
  letter-spacing: 2.5px;
  color: #000000;
}

h4 {
  font-family: 'lato';
  font-weight: bold;
  font-size: 12px;
  color: #000000;
}

h5 {
  font-family: "lato";
  font-size: 10px;
  color: #000000;
}

p {
  font-family: 'lato';
  text-align: center;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.9px;
  color: #000000;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

label {
  font-family: 'lato';
  font-weight: normal;
  line-height: 18px;
	color: #4a4a4a;
  font-size: 14px;

}

.carousel,
.item,
.active {
    height: 100%;
    width: 100%;
}

.special,.special .jumbotron {
  height:100%;
}

.header-img img{
  width:100%;
  min-height: 100vh;
}

#header-img1 {
    min-height: 100vh;
    width: 100%;
    background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0.21) 0, #ffffff 100%), url('images/DSC_1536.JPG'); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(to bottom, rgba(0, 0, 0, 0.21) 0, #ffffff 100%), url('images/DSC_1536.JPG'); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0.21) 0, #ffffff 100%), url('images/DSC_1536.JPG'); /* For Firefox 3.6 to 15 */
    background: url('images/DSC_1536.JPG'), linear-gradient(to bottom, rgba(0, 0, 0, 0.21) 0, #ffffff 100%); /* Standard syntax (must be last) */
}

.carousel-inner {
    height: 100%;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
  height: 100%;
  max-width: none;
  max-height: none;
}

.container .jumbotron, .container-fluid .jumbotron {
  padding-right: 0;
  padding-left: 0;
  border-radius: 0;
}

.container {
  padding-left: 0;
  padding-right: 0;
}

.jumbotron {
  padding-top: 0;
  padding-bottom: 0;
}

.container img {
  height:100%;
}


.carousel-indicators {
  position: absolute;
  bottom: 20%;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}

.carousel-indicators li {
  bottom: 20%;
}

.form-control {
  width: 75%;
}

.drawer-hamburger {
  padding: 20px 1rem 30px;
  background-color: #ffffff;
  z-index: 4;
}

.drawer-nav {
  font-family: 'gotham-rounded';
  width: 50%;
  background-color: transparent;
}

.drawer--left.drawer-open .drawer-hamburger {
  position: fixed;
  left: 50%;
  background: transparent;
}

.drawer--left .drawer-hamburger, .drawer--left.drawer-open .drawer-nav, .drawer--left.drawer-open .drawer-navbar .drawer-hamburger {
  background-color: #ffffff;
}

.drawer-hamburger-icon, .drawer-hamburger-icon:after, .drawer-hamburger-icon:before{
  background-color: #43CDE0;
}

.drawer-menu-item {
  font-size: 4rem;
}

footer {
  background-color: #979797;
  color: white;
}

.google-maps {
    position: relative;
    padding-bottom: 30%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    max-height:450px !important;
}

/*.description {
  background: #ffffff;
  box-shadow: 0 0 2px 0;
}*/
